.local-homepage-huge-match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 18vh;
  margin-top: -1vh; */
}

.local-homepage-small-match-container {
  width: 33vw;
  /* height: 13vh; */
  border: 0 solid rgba(255, 255, 255, 0.7);
  margin-top: 3vh;
  background: rgba(252, 199, 199);
  border-radius: 10px;
  box-shadow: 6px 6px 25px dimgray;
}

.local-homepage-match-1 {
  display: flex;
}

.local-homepage-photo-big-container {
  width: 10vw;
  height: 12vh;
  display: flex;
  align-items: center;
  position: relative;
  left: 1vw;
  /* background: greenyellow; */
}

.local-homepage-photo {
  /* background: url("https://via.placeholder.com/80"); */
  background: url("../Images/match-photo1.jpg");
  width: 7vw;
  height: 10vh;
  position: relative;
  top: 0.5vh;
  left: 1vw;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 20px dimgray;
}

.local-homepage-matches-info-container {
  width: 30vw;
  height: 5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  left: 0.5vw;
  top: 5vh;
}

.local-homepage-grid-item-left {
  font-weight: bold;
  font-size: 0.8em;
  /* position: relative;
  top: 25%; */
}

.local-homepage-grid-item-center {
  font-weight: bold;
  font-size: 0.8em;
  /* position: relative;
  top: 25%; */
}

.local-homepage-grid-item-right {
  font-weight: bold;
  font-size: 0.8em;
  /* position: relative;
  top: 25%; */
}

.local-homepage-accordion-button {
  background: rgba(252, 199, 199, 0.7);
  border: none;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.local-homepage-accordion-button:hover,
.active {
  background-color: #f8bbbb;
}

.local-homepage-accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.local-homepage-rotate {
  transform: rotate(180deg);
}

.local-homepage-accordion__content {
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.local-homepage-accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  padding: 9px;
}
