.local-homepage-huge-match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.local-homepage-small-match-container {
  width: 33vw;
  /* height: 13vh; */
  border: 0 solid rgba(255, 255, 255, 0.7);
  margin-bottom: 3vh;
  background: rgba(252, 199, 199);
  border-radius: 10px;
  box-shadow: 6px 6px 25px dimgray;
}

.local-homepage-match-1 {
  display: flex;
  height: 17vh;
}

.local-homepage-photo-big-container {
  width: 26vw;
  height: 17vh;
  display: flex;
  align-items: center;
  position: relative;
}

.local-homepage-photo {
  background: url("../Images/match-photo1.jpg");
  width: 10vw;
  height: 12vh;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 20px dimgray;
}

.local-homepage-traveler-name-container {
  width: 30vw;
  height: 17vh;
  margin: 0 auto;
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
