.traveler-tours-huge-match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traveler-tours-small-match-container {
  width: 55vw;
  border: 0 solid rgba(255, 255, 255, 0.7);
  margin-bottom: 5vh;
  margin-top: 5vh;
  background: rgba(252, 199, 199);
  border-radius: 10px;
  box-shadow: 6px 6px 25px dimgray;
}

.traveler-tours-match-1 {
  display: flex;
  flex-direction: row;
}

.traveler-tours-photo-big-container {
  width: 10vw;
  height: 12vh;
  display: flex;
  align-items: center;
  position: relative;
  left: 3.5vw;
  /* background: greenyellow; */
}

.traveler-tours-photo {
  /* background: url("https://via.placeholder.com/80"); */
  background: url("../../TravelerSearchPage/Images/match-photo1.jpg");
  width: 10vw;
  height: 13vh;
  left: 0.5vh;
  position: relative;
  top: 2.4vh;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 20px dimgray;
}

.traveler-tours-matches-info-container {
  width: 40vw;
  height: 12.5vh;
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  top: 2vh;
  left: 5vw;
}

.traveler-tours-grid-item-top-left {
  /* padding: 10px; */
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 25%;
}

.traveler-tours-grid-item-top-right {
  /* padding: 10px; */
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 25%;
}

.traveler-tours-grid-item-bottom-left {
  /* padding: 10px; */
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 25%;
}

.traveler-tours-grid-item-bottom-right {
  /* padding: 10px; */
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 25%;
}

.traveler-tours-accordion-section {
  text-align: center;
  position: relative;
}

.traveler-tours-accordion {
  background: rgba(252, 199, 199, 0.7);
  border: none;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.traveler-tours-accordion:hover,
.active {
  background-color: #f8bbbb;
}

.traveler-tours-accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.traveler-tours-rotate {
  transform: rotate(180deg);
}

.traveler-tours-accordion__content {
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.traveler-tours-accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  padding: 9px;
}
