.input-form {
  /* display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 1em;
  border: none;
  box-shadow: 6px 6px 25px dimgray;
  background: dimgray;
  overflow: scroll;
  max-height: 60vh;
  text-align: center;
}

.close {
  align-self: flex-end;
  cursor: pointer;
  color: black;
  position: relative;
  text-align: end;
}

:hover.close {
  color: darkslateblue;
}

input {
  color: black;
  border: 0 solid black;
  border-radius: 24px;
  box-shadow: 2px 4px 6px gray;
  padding: 0.5em;
}

.traveler-registration-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
}

.local-registration-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
}
