@font-face {
  font-family: "champagne__limousinesregular";
  src: url("./webfontkit-20190811-105135/champagne__limousines-webfont.woff2")
      format("woff2"),
    url("./webfontkit-20190811-105135/champagne__limousines-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Landing Page CSS */
.landingpage {
  height: 100vh;
  background: white;
}
.welcome-message {
  color: white;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 20%;
  text-shadow: 2px 2px 2px black;
  z-index: 15;
}
.welcome-title {
  color: black;
  text-shadow: 2px 2px 2px gold;
  line-height: 0em;
  z-index: 15;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url("./landingPage.jpg"); */
  max-width: 100%;
  text-shadow: 2px 2px 2px black;
  background-size: 100%;
  color: black;
  z-index: 15;
}

.box1,
.box2 {
  display: flex;
  text-align: center;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
}

.box1 h3,
.box2 h3 {
  font-size: 1.5em;
  text-shadow: 2px 2px 2px black;
  font-family: "champagne__limousinesregular";
}

.card {
  box-shadow: 3px 3px 5px black;
  border-radius: 8px;
  width: 40%;
}

.card-footer {
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.7);
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.traveler-btn {
  color: black;
  font-weight: 600;
  background: none;
  border: none;
  font-family: "champagne__limousinesregular";
  cursor: pointer;
  font-size: 1.2em;
}

.landingpage-footer {
  display: flex;
  height: 33vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  text-align: center;
}

.top-section-landingpage {
  display: flex;
  background-image: linear-gradient(
    to bottom,
    #196ce8,
    #0091f9,
    #00aff1,
    #00c7da,
    #20dbc1
  );
  border-bottom: 25px solid black;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  .welcome-title {
    font-size: 2.5em;
  }
  .box1,
  .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .box1 h3,
  .box2 h3 {
    font-size: 2.25em;
  }
  .card {
    width: 55%;
  }
  .traveler-home-button,
  .local-home-button {
    margin: 0;
  }
  .card-header-title {
    text-decoration: none !important;
    font-size: 1.2em;
  }
  .card-footer {
    padding: 20px;
  }
  .traveler-btn {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    width: 50%;
  }
  .card-header-title {
    color: black;
    font-size: 1.4em;
  }
  .card-footer {
    padding: 25px;
  }
  .traveler-btn {
    font-size: 1.8em;
  }
  .box1,
  .box2 {
    color: black;
    background: rgba(250, 250, 250, 0.7);
    box-shadow: 7px 7px 5px black;
    text-shadow: none;
    margin: 0px 120px 0px 120px;
    border-radius: 10px;
    font-weight: 600;
  }
  .box1 h3,
  .box2 h3 {
    text-shadow: none;
  }
}

/* Login Page */

.logincontainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(250, 250, 250, 0.7);
  padding: 2em;
  box-shadow: 6px 6px 10px gray;
  z-index: 15;
}

.login-text {
  margin-top: -1vh;
}

.body {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 15;
}

.background {
  z-index: 1;
  background-size: cover;
}

h1 {
  text-shadow: 2px 2px gold;
}
.title {
  z-index: 2;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: -3vh;
}

.login-btn:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}
.registration {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 6px 6px 10px dimgrey;
  background: white;
}
.registration-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 15;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
}

.registration-text {
  font-size: 0.75em;
  margin-top: -1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

.registration-tag {
  cursor: pointer;
  margin-top: -0.05vh;
}

.registration-tag:hover {
  color: #0000ee;
}

.username {
  margin-top: -3vh;
}

.password {
  margin-top: -2vh;
}

.registration-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: 2vh;
}

.registration-btn:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}

.incorrect-info-text {
  position: relative;
  bottom: 3vh;
}

/* Registration */

.username {
  text-align: center;
}

.password {
  text-align: center;
}

.login-button {
  text-align: center;
}

/* InputForm */

.input-form {
  /* display: inline-flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 1em;
  border: none;
  overflow: scroll;
  max-height: 100vh;
  text-align: center;
}

.close {
  align-self: flex-end;
  cursor: pointer;
  color: black;
  position: relative;
  text-align: end;
}

:hover.close {
  color: darkslateblue;
}

input {
  color: black;
  border: 0 solid black;
  border-radius: 24px;
  box-shadow: 2px 4px 6px gray;
  padding: 0.5em;
}

.traveler-registration-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
}

.local-registration-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
}

/* Questions */
.registration-questions {
  display: inline-block;
  padding: 5px;
}

.register-label {
  position: relative;
  bottom: 0.5vh;
}

@media only screen and (min-width: 768px) {
  .input-form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: none;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .input-form {
    display: inline-block;
    padding: 20px;
    width: 50vw;
    height: 50vh;
    align-items: center;
    overflow: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
  }

  .registration-questions {
    display: inline-block;
    padding: 25px;
  }
}
