@font-face {
  font-family: "champagne__limousinesregular";
  src: url("./webfontkit-20190811-105135/champagne__limousines-webfont.woff2")
      format("woff2"),
    url("./webfontkit-20190811-105135/champagne__limousines-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

h2,
h1,
h4 {
  font-family: "champagne__limousinesregular";
  text-decoration: none;
}
p {
  font-family: Helvetica, sans-serif;
}
button {
  text-decoration: none;
  font-family: "champagne__limousinesregular";
  border: none;
  background: white;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 20px;
  box-shadow: 2px 2px 1px gray;
}

button:active {
  box-shadow: none;
}
/* Landing Page CSS */
.landingpage {
  height: 260vh;
  background: white;
}
.welcome-message {
  color: black;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* z-index: 15; */
}
.welcome-title {
  font-family: "champagne__limousinesregular";
  line-height: 0em;
  /* z-index: 15; */
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url("./components/General/images/landing2.jpg");
  max-width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 15;
}

.searchbar-landingpage {
  display: flex;
  padding: 50px;
  flex-direction: column;
}
.box1,
.box2 {
  display: flex;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
}

.box1 h3,
.box2 h3 {
  font-size: 1.5em;
  text-shadow: 2px 2px 2px black;
  font-family: "champagne__limousinesregular";
}

.card {
  box-shadow: 3px 3px 5px black;
  border-radius: 8px;
  width: 40%;
}

.card-footer {
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.7);
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.traveler-btn {
  color: black;
  font-weight: 600;
  background: none;
  border: none;
  font-family: "champagne__limousinesregular";
  cursor: pointer;
  font-size: 1.2em;
}

.landingpage-footer {
  display: flex;
  height: 33vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  text-align: center;
}

.top-section-landingpage {
  display: flex;
  background-image: linear-gradient(
    to bottom,
    #196ce8,
    #0091f9,
    #00aff1,
    #00c7da,
    #20dbc1
  );
  border-bottom: 25px solid black;
  flex-direction: column;
}

/* Landingpage sections */
.landingpage-sections {
  display: flex;
  flex-direction: row;
}
/* Traveler Section Landingpage */

.landingpage-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 50%;
}
.landingpage-side h2 {
  font-size: 2em;
}
.section {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 80%;
  box-shadow: 2px 2px 5px grey;
  margin: 25px;
}

.section-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 40%;
  width: 80%;
  margin: 25px;
  box-shadow: 2px 2px 5px grey;
}
.section-text {
  /* border: 2px solid yellow; */
  width: 60%;
  margin: 25px;
  font-size: 0.9em;
}
.section-text h4 {
  font-family: "champagne__limousinesregular";
  font-size: 1.5em;
}
.img {
  height: 100%;
  width: 40%;
  background-size: cover !important;
  background-position: center !important;
}

.destination {
  background: url("./components/General/images/destination.jpg");
}

.connect {
  background: url("./components/General/images/connect1.jpg");
}
.memories {
  background: url("./components/General/images/memories.jpg");
}
.reachout {
  background: url("./components/General/images/reachout3.jpg");
}

.sights {
  background: url("./components/General/images/sights3.jpg");
}
.connect2 {
  background: url("./components/General/images/connect2.jpg");
}
.experience {
  background: url("./components/General/images/experience3.jpg");
}

.money {
  background: url("./components/General/images/money1.jpg");
}
/* Local Section Landingpage */
.landingpage-local-section {
  height: 80vh;
  width: 50%;
  border: 2px solid black;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  .welcome-title {
    font-size: 2.5em;
  }
  .box1,
  .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .box1 h3,
  .box2 h3 {
    font-size: 2.25em;
  }
  .card {
    width: 55%;
  }
  .traveler-home-button,
  .local-home-button {
    margin: 0;
  }
  .card-header-title {
    text-decoration: none !important;
    font-size: 1.2em;
  }
  .card-footer {
    padding: 20px;
  }
  .traveler-btn {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    width: 50%;
  }
  .card-header-title {
    color: black;
    font-size: 1.4em;
  }
  .card-footer {
    padding: 25px;
  }
  .traveler-btn {
    font-size: 1.8em;
  }
  .box1,
  .box2 {
    color: white;
    text-shadow: 2px 2px 2px black;
    text-shadow: none;
    margin: 0px 120px;
    border-radius: 10px;
    font-weight: 600;
  }
  .box1 h3,
  .box2 h3 {
    text-shadow: none;
  }
}

/* Login Page */

.logincontainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(250, 250, 250, 0.7);
  padding: 2em;
  box-shadow: 6px 6px 10px gray;
  z-index: 2;
}

.close-login {
  position: absolute;
  line-height: 0px;
  font-size: 2em;
  font-weight: bold;
  top: 0px;
  right: 15px;
  color: white;
  cursor: pointer;
  text-shadow: 2px 2px 15px white;
}

.close-login:hover {
  text-shadow: 5px 5px 20px white;
}
.close-login:active {
  color: black;
}
.login-text {
  margin-top: -1vh;
}

.loginpage {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.background {
  background-size: cover;
}

.title {
  color: white;
  text-shadow: 2px 2px 3px black;
}

/* label {
  font-family: Arial, Helvetica, sans-serif;
} */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form button {
  padding: 10px 15px;
}
#registerbtn {
  margin-top: 25px;
}

.login-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: -3vh;
}

.login-btn:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}
.registration {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 12px 12px 15px gray;
  background: rgba(250, 250, 250, 0.7);
}
.registration-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 15;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
}

.registration-text {
  font-size: 0.75em;
  margin-top: -1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

.registration-tag {
  cursor: pointer;
  margin-top: -0.05vh;
}

.registration-tag:hover {
  color: #0000ee;
}

.username {
  margin-top: -3vh;
}

.password {
  margin-top: -2vh;
}

.registration-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: 2vh;
}

.registration-btn:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}

.incorrect-info-text {
  position: relative;
  bottom: 3vh;
}

/* Registration */

.username {
  text-align: center;
}

.password {
  text-align: center;
}

.login-button {
  text-align: center;
}

/* InputForm */

.input-form {
  /* display: inline-flex
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  padding: 1em;
  border: none;
  /* overflow: scroll; */
  max-height: 100vh;
  text-align: center;
}

.input-form h1 {
  font-family: "champagne__limousinesregular";
  color: black;
  text-shadow: none;
}

.input-form button {
  padding: 10px 20px;
}
.warning {
  position: absolute;
  left: 36%;
  top: 0px;
  text-align: center;
}
.close {
  align-self: flex-end;
  cursor: pointer;
  color: black;
  position: relative;
  text-align: end;
}

:hover.close {
  color: darkslateblue;
}

input {
  color: black;
  border: 0 solid black;
  box-shadow: 2px 4px 6px gray;
  padding: 0.5em;
}

/* Questions */
.registration-questions {
  display: inline-block;
  padding: 5px;
}

.register-label {
  position: relative;
  bottom: 0.5vh;
  font-family: "champagne__limousinesregular";
}

@media only screen and (min-width: 768px) {
  .input-form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: none;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .input-form {
    display: inline-block;
    /* padding: 20px; */
    width: 50vw;
    height: 50vh;
    align-items: center;
    overflow: none;
    text-align: center;
  }

  .registration-questions {
    display: inline-block;
    padding: 25px;
  }
}

/* Searchbar */

.searchbar-wrapper {
  width: 60vw;
  margin-bottom: 0.5em;
}

.searchbar-general {
  width: 100%;
  position: relative;
  display: flex;
}

.searchterm {
  width: 600px;
  border: 3px solid rgba(250, 250, 250, 0.7);
  border-right: none;
  font-family: "champagne__limousinesregular";
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  font-weight: bold;
}

.searchterm:focus {
  color: rgb(53, 50, 50);
}

.searchbutton {
  width: 40px;
  height: 36px;
  padding: 0px 10px;
  border: 2px solid rgba(250, 250, 250, 0.7);
  background: rgba(250, 250, 250, 0.7);
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .searchbar-wrapper {
    width: 320px;
    margin-bottom: 1em;
  }
  .searchterm {
    border: 5px solid rgba(250, 250, 250, 0.7);
    height: 25px;
    font-size: 1em;
  }
  .searchbutton {
    width: 45px;
    height: 45px;
  }
}

@media only screen and (min-width: 1024px) {
  .searchbar-wrapper {
    width: 360px;
  }
  .searchterm {
    border: 5px solid rgba(250, 250, 250, 0.7);
    height: 30px;
  }
  .searchbutton {
    width: 52px;
    height: 50px;
  }
}

/* Date Container */

.traveler-home-dates-container {
  display: flex;
  flex-direction: row;
  width: 210px;
}

@media only screen and (min-width: 768px) {
  .traveler-home-dates-container {
    width: 320px;
  }
}

@media only screen and (min-width: 1024px) {
  .traveler-home-dates-container {
    width: 360px;
  }
}

.traveler-home-end-date-container {
  width: 100%;
}

.traveler-home-start-date-searchTerm,
.traveler-home-end-date-searchTerm {
  width: 80% !important;
  border: 2px solid rgba(250, 250, 250, 0.7);
  margin-left: 5px;
}

@media only screen and (min-width: 768px) {
  .traveler-home-end-date-searchTerm {
    width: 80% !important;
    margin-left: 10px;
    border: 5px solid rgba(250, 250, 250, 0.7) !important;
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 1024px) {
  .traveler-home-end-date-searchTerm {
    width: 85% !important;
    margin-left: 11px;
    font-size: 0.8em !important;
    height: 25px !important;
  }
}

.traveler-home-start-date-container {
  width: 100%;
}

.traveler-home-start-date-searchTerm {
  width: 80% !important;
}

@media only screen and (min-width: 768px) {
  .traveler-home-start-date-searchTerm {
    width: 80% !important;
    border: 5px solid rgba(250, 250, 250, 0.7) !important;
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 1024px) {
  .traveler-home-start-date-searchTerm {
    width: 85% !important;
    height: 25px !important;
    font-size: 0.8em !important;
  }
}

/* Navbar */

.navbar {
  display: flex;
  width: 100%;
  font-family: "champagne__limousinesregular";
  height: 10vh;
  background: white;
  box-shadow: slategrey;
}

.navbar-logo {
  padding: 0px 10px;
}

.navbar-logo h2 {
  color: black;
}

.elements {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.elements h3 {
  padding: 0px 10px;
}

.navbarElement {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  width: 100%;
}

.elementName {
  display: flex;
  align-items: flex-start;
  margin-left: 1em;
}

.elementContainer {
  width: 2em;
  height: 2em;
  align-self: center;
}

/* Searchpage */

.traveler-search-huge-match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px;
  border-bottom-style: solid;
  border-color: black;
}

.traveler-search-small-match-container {
  width: 55vw;
  border: 0 solid rgba(255, 255, 255, 0.7);
  margin-bottom: 5vh;
  margin-top: 5vh;
  background: rgba(252, 199, 199);
  border-radius: 10px;
  box-shadow: 6px 6px 25px dimgray;
}

.traveler-search-match-1 {
  display: flex;
}

.traveler-search-photo-big-container {
  width: 10vw;
  height: 12vh;
  display: flex;
  align-items: center;
  position: relative;
  left: 3.5vw;
}

.traveler-search-photo {
  /* background: url("../../Images/match-photo1.jpg"); */
  width: 10vw;
  height: 13vh;
  left: 0.5vh;
  position: relative;
  top: 2.4vh;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 20px dimgray;
}

.traveler-search-matches-info-container {
  width: 30vw;
  height: 12.5vh;
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  left: 9vw;
  top: 2vh;
}

.traveler-search-grid-item-top-left {
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 25%;
}

.traveler-search-grid-item-top-right {
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 25%;
}

.traveler-search-grid-item-bottom-left {
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 25%;
}

.traveler-search-grid-item-bottom-right {
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 25%;
}

.traveler-search-accordion-section {
  text-align: center;
  position: relative;
}

.traveler-search-accordion {
  background: rgba(252, 199, 199, 0.7);
  border: none;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.traveler-search-accordion:hover,
.active {
  background-color: #f8bbbb;
}

.traveler-search-accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.traveler-search-rotate {
  transform: rotate(180deg);
}

.traveler-search-accordion__content {
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.traveler-search-accordion__text {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  font-size: 0.8em;
  padding: 9px;
}

/* BookButton */
.traveler-search-button {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
  position: relative;
  bottom: 1vh;
}

.traveler-search-button:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}

/* accordion2 */
.local-homepage-huge-match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.local-homepage-small-match-container {
  width: 33vw;
  border: 0 solid rgba(255, 255, 255, 0.7);
  margin-bottom: 3vh;
  background: rgba(252, 199, 199);
  border-radius: 10px;
  box-shadow: 6px 6px 25px dimgray;
}

.local-homepage-match-1 {
  display: flex;
  height: 17vh;
}

.local-homepage-photo-big-container {
  width: 26vw;
  height: 17vh;
  display: flex;
  align-items: center;
  position: relative;
}

.local-homepage-photo {
  /* background: url("./match-photo1.jpg"); */
  width: 10vw;
  height: 12vh;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 20px dimgray;
}

.local-homepage-traveler-name-container {
  width: 30vw;
  height: 17vh;
  margin: 0 auto;
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Local's Page */

.localbody {
  display: flex;
  font-family: "champagne__limousinesregular";
  flex-direction: column;
}

.local-profile {
  display: inline-flex;
  margin: 1em;
  justify-content: center;
}

.profile-bio {
  font-size: 0.85em;
  padding: 1vw;
  position: relative;
  bottom: 2vh;
}

.local-profile-info {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  align-items: center;
  max-height: 100%;
  white-space: normal;
}
.local-profile-banner {
  background: url("./components/General/images/Local2.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  height: 40vh;
  margin: 2em 0px;
  width: 100%;
}
.local-profile-body {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tips-tricks-section {
  padding-left: 1vw;
  padding-right: 1vw;
}

.tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "champagne__limousinesregular";
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 6px 6px 10px gray;
  height: 80%;
  width: 75%;
  margin-bottom: 1em;
  text-align: center;
}

.tours-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 20vh;
}
.avatar-aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.booker-avatar {
  background: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.booking-info {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  align-items: center;
}

.completed {
  display: ;
  border-radius: 5px;
  box-shadow: 6px 6px 10px gray;
  height: 20%;
  width: 50%;
  text-align: center;
}
.center-body {
  display: flex;
  width: 40vw;
  height: 100%;
  flex-direction: column;
}

.localhome {
  display: flex;
  flex-direction: column;
}

/* Misscelanious */
.star-icon {
  margin-left: 1.2vw;
  position: relative;
  top: -3vh;
}

/* TravelerPage */

.profile-page {
  display: flex;
  flex-direction: column;
}
.profile-intro {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

#banner {
  background-size: cover;
  background-position: center;
  height: 40vh;
  color: white;
}
.traveler-pic {
  background: url("./components/General/images/landing1.jpg");
}
.local-pic {
  background: url("./components/General/images/Local2.jpg");
}
.profile-tours {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.profile-section {
  display: flex;
  justify-content: center;
}
/* Profile Page */
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60vw;
  box-shadow: 6px 6px 10px gray;
}

.profile-avatar {
  height: 150px;
  width: 150px;
  margin: 20px;
  box-shadow: 3px 3px 5px black;
}

/* Switch */

.switch {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  top: 10vh;
  right: 4vw;
  position: absolute;
  box-shadow: 6px 6px 10px gray;
}
