.local-settings {
  background: linear-gradient(360deg, #304352, #d7d2cc);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  position: relative;
  left: 20%;
  height: 100vh;
}

.local-setting-body {
  background: #d94f70;
  border-radius: 10px;
  box-shadow: 6px 6px 25px dimgray;
  padding: 2em;
  max-height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
  width: 30vw;
}

.local-settings-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.locals-settings-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
}

.locals-settings-btn:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}

.local-settings-label {
  position: relative;
  top: 2.5vh;
}

.big-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: -4vh;
}
