.local-settings {
  background: linear-gradient(360deg, #304352, #d7d2cc);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.local-setting-body {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 6px 6px 25px dimgray;
  padding: 2em;
}
