.huge-match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px;
  border-bottom-style: solid;
  border-color: black; */
  border: 3px;
  border-bottom-style: solid;
  border-color: black;
}

.small-match-container {
  width: 65vw;
  border: 0 solid rgba(255, 255, 255, 0.7);
  margin-bottom: 5vh;
  margin-top: 5vh;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 6px 6px 25px dimgray;
}

.match-1 {
  display: flex;
  /* flex-direction: row; */
}

.photo-big-container {
  width: 20vw;
  height: 24vh;
  display: flex;
  align-items: center;
  position: relative;
  left: 7vw;
  /* background: greenyellow; */
}

.photo {
  /* background: url("https://via.placeholder.com/80"); */
  background: url("../Images/match-photo1.jpg");
  width: 14vw;
  height: 18vh;
  left: 1vh;
  position: relative;
  top: 2vh;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  box-shadow: 6px 6px 25px dimgray;
}

.matches-info-container {
  width: 60vw;
  height: 25vh;
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196f3; */
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-weight: normal;
  font-size: 1.2em;
  text-align: center;
} */

.grid-item-top-left {
  padding: 20px;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  position: relative;
  top: 5vh;
  left: 7vh;
}

.grid-item-top-right {
  padding: 20px;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  position: relative;
  top: 5vh;
  right: 3vh;
}

.grid-item-bottom-left {
  padding: 20px;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  position: relative;
  top: 1vh;
  left: 7vh;
}

.grid-item-bottom-right {
  padding: 20px;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  position: relative;
  top: 1vh;
  right: 3vh;
}

.accordion-section {
  text-align: center;
  position: relative;
}

.accordion {
  background: rgba(252, 199, 199, 0.7);
  border: none;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.accordion:hover,
.active {
  background-color: #f8bbbb;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(180deg);
}

.accordion__content {
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

.book-me-button {
  text-align: center;
}
