.traveler-home-start-date-container {
  width: 100%;
  z-index: 15;
}

.traveler-home-start-date-searchTerm {
  width: 80% !important;
}

@media only screen and (min-width: 768px) {
  .traveler-home-start-date-searchTerm {
    width: 80% !important;
    border: 5px solid #d94f70 !important;
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 1024px) {
  .traveler-home-start-date-searchTerm {
    width: 85% !important;
    height: 25px !important;
    font-size: 0.8em !important;
  }
}
