.start-date-container {
  width: 10vw;
  z-index: 15;
  text-align: center;
}

.start-date-searchTerm {
  border: 3px solid #d94f70;
  padding: 3px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: rgb(53, 50, 50);
  font-weight: bold;
}
