.traveler-body-container {
  position: relative;
  height: 100vh;
  width: 80vw;
  left: 20%;
  z-index: 1;
}

.traveler-next-tour {
  text-align: center;
  font-size: 2em;
  padding: 3vh;
  border: 3px;
  border-bottom-style: solid;
  border-color: black;
}

.traveler-next-tour-accordion {
  background: #d94f70;
}

.traveler-upcoming-tours {
  text-align: center;
  font-size: 2em;
  padding: 3vh;
  border: 3px;
  border-bottom-style: solid;
  border-color: black;
}

.traveler-upcoming-tours-accordions {
  background: #d94f70;
  overflow-y: auto;
  height: 46.9vh;
}
