<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./assets/style/login.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <!-- Login -->
    <div class="login-flex">
      <h1>Login Here</h1>

      <form action="/login" method="POST">
        Username<br />
        <input
          type="text"
          name="username"
          placeholder="your username here..."
        />
        <br />

        Password<br />
        <input
          type="password"
          name="password"
          placeholder="your password here..."
        />
        <br /><br />
        <input id="login" type="submit" value="Submit" />
      </form>

      <h1>Registrer Here</h1>
      <!-- Travellers registration -->
      <form id="registration" action="/registration" method="POST">
        Name <br />
        <input type="text" name="name" placeholder="your name here..." />
        <br />

        Username<br />
        <input
          type="text"
          name="username"
          placeholder="Create your username here..."
        />
        <br />

        Password<br />
        <input
          type="password"
          name="password"
          placeholder="Create your password here..."
        />
        <br /><br />
        <input id="registration" type="submit" value="Submit" />
      </form>
    </div>
    <script src="./js/login.js"></script>
  </body>
</html>
