<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 leftside d-flex justify-content-center align-items-center">
            <form>

                <h1 class="mt-5">Travellers</h1>
                <div class="form-group">
                    <label for="traveller-username">Username</label>
                    <input type="username" class="form-control" id="traveller-username" aria-describedby="usernamehelp"
                        placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="traveller-password">Password</label>
                    <input type="password" class="form-control" id="traveller-password" placeholder="Enter Password">
                </div>
                <button id="travellers" type="submit" class="btn btn-primary">Login</button>

                <h6>New to our site? <a class="modal-trigger" href="#registerModal">REGISTER HERE</a></h6>
            </form>


            {{!-- <div id="registerModal1" class="modal">

                <div class="modal-content valign center" id="registerForm">

                    <form class="center">

                        <span class="card-title">

                            <h6 class="header">Please Register</h6>

                        </span>
                        <small></small>
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" id="input-username" class="validate">
                            <label for="userId">Your Name</label>

                        </div>

                        <div class="input-field userId-div">
                            <i class="material-icons prefix">person_add</i>
                            <input type="text" id="input-userID" class="validate">
                            <label for="input-userId">User Id</label>
                            <!-- <p>UserId should be no more than 8</p> -->
                        </div>

                        <div class="input-field password-signup-div">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="input-password" type="password" class="validate">
                            <label for="input-password">Password</label>
                            <p>*Note: Password must be 8 to 20 characters long.</p>
                        </div>

                        <!-- Login -->
                        <div class="card-action">
                            <button class="btn waves-effect waves-light light-blue darken-2" type="submit" name="action"
                                id="register-submit">Submit</button>
                        </div>

                    </form>

                </div>

            </div> --}}
        </div>


        <div class="col-md-6 rightside d-flex justify-content-center align-items-center">
            <form>

                <h1 class="mt-5">Locals</h1>
                <div class="form-group">
                    <label for="local-username">Username</label>
                    <input type="local-username" class="form-control" id="local-username"
                        aria-describedby="usernamehelp" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="local-password">Password</label>
                    <input type="password" class="form-control" id="local-password" placeholder="Enter Password">
                </div>
                <button id="locals" type="submit" class="btn btn-primary">Login</button>


                <h6>New to our site? <a class="modal-trigger" href="#registerModal">REGISTER HERE</a></h6>
            </form>



            {{!-- <div id="registerModal" class="modal">

                <div class="modal-content valign center" id="registerForm">

                    <form class="center">

                        <span class="card-title">

                            <h6 class="header">Please Register</h6>

                        </span>
                        <small></small>
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" id="input-username" class="validate">
                            <label for="userId">Your Name</label>

                        </div>

                        <div class="input-field userId-div">
                            <i class="material-icons prefix">person_add</i>
                            <input type="text" id="input-userID" class="validate">
                            <label for="input-userId">User Id</label>
                            <!-- <p>UserId should be no more than 8</p> -->
                        </div>

                        <div class="input-field password-signup-div">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="input-password" type="password" class="validate">
                            <label for="input-password">Password</label>
                            <p>*Note: Password must be 8 to 20 characters long.</p>
                        </div>

                        <!-- Login -->
                        <div class="card-action">
                            <button class="btn waves-effect waves-light light-blue darken-2" type="submit" name="action"
                                id="register-submit">Submit</button>
                        </div>

                    </form>

                </div>

            </div> --}}
        </div>
    </div>
</div>
</div>

<script src=" ./js/login.js"> </script>