.element {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  align-self: flex-start;
  object-fit: contain;
  width: 90%;
  overflow: hidden;
  padding: 5px;
}

.elementName {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.elementContainer {
  width: 2em;
  height: 2em;
}
