.navbarElement {
  cursor: pointer;
}

.elementName {
  display: flex;
  align-items: flex-start;
  margin-left: 1em;
}

.elementContainer {
  width: 2em;
  height: 2em;
  align-self: center;
}
