.element {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-self: flex-start;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
  margin-left: 15px;
}

.elementName {
  display: flex;
  align-items: flex-start;
  margin-left: 1em;
}

.elementContainer {
  width: 2em;
  height: 2em;
  align-self: center;
}
