.local-tours-huge-match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px;
  border-bottom-style: solid;
  border-color: black; */
  border: 3px;
  border-bottom-style: solid;
  border-color: black;
}

.local-tours-small-match-container {
  width: 55vw;
  border: 0 solid rgba(255, 255, 255, 0.7);
  margin-bottom: 5vh;
  margin-top: 5vh;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 6px 6px 25px dimgray;
}

.local-tours-match-1 {
  display: flex;
  /* flex-direction: row; */
}

.local-tours-photo-big-container {
  width: 10vw;
  height: 12vh;
  display: flex;
  align-items: center;
  position: relative;
  left: 3.5vw;
}

.local-tours-photo {
  /* background: url("https://via.placeholder.com/80"); */
  background: url("../../Images/match-photo1.jpg");
  width: 10vw;
  height: 13vh;
  left: 0.5vh;
  position: relative;
  top: 2.4vh;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 20px dimgray;
}

.local-tours-matches-info-container {
  width: 30vw;
  height: 12.5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  left: 8vw;
  top: 5vh;
  /* background-color: #2196f3; */
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-weight: normal;
  font-size: 1.2em;
  text-align: center;
} */

.local-tours-grid-item-left {
  padding: 10px;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  /* top: 2.5vh;
  left: 15vh; */
}

.local-tours-grid-item-center {
  padding: 10px;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  /* top: 2.5vh;
  left: 13vh; */
}

.local-tours-grid-item-right {
  padding: 10px;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  /* top: 2vh;
  left: 13vh; */
}

.local-tours-accordion-section {
  text-align: center;
  position: relative;
}

.local-tours-accordion {
  background: rgba(252, 199, 199, 0.7);
  border: none;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.local-tours-accordion:hover,
.active {
  background-color: #f8bbbb;
}

.local-tours-accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.local-tours-rotate {
  transform: rotate(180deg);
}

.local-tours-accordion__content {
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.local-tours-accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  padding: 9px;
}
