.local-tours-huge-match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.local-tours-small-match-container {
  width: 55vw;
  border: 0 solid rgba(255, 255, 255, 0.7);
  margin-bottom: 5vh;
  margin-top: 5vh;
  background: rgba(252, 199, 199);
  border-radius: 10px;
  box-shadow: 6px 6px 25px dimgray;
}

.local-tours-match-1 {
  display: flex;
  height: 22vh;
}

.local-tours-photo-big-container {
  width: 30vw;
  height: 22vh;
  display: flex;
  align-items: center;
  position: relative;
}

.local-tours-photo {
  background: url("../../Images/match-photo1.jpg");
  width: 15vw;
  height: 16vh;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 20px dimgray;
}

.local-tours-traveler-name-container {
  width: 40vw;
  height: 22vh;
  font-weight: bold;
  margin: 0 auto;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
