.local-tours-book-me-button {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
  position: relative;
  bottom: 0.8vh;
}

.local-tours-book-me-button {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}
