.general-button {
  background: #d94f70;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border: 3px solid #d94f70;
  border-radius: 8px;
  margin-left: 360px; /* Remove this - only for sandbox environment */
}
.general-button:hover {
  background: #fff;
  color: #d94f70;
}
.general-button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #d94f70;
  transition: 400ms ease all;
}
.general-button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.general-button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
