.localbody {
  display: inline-flex;
  background: linear-gradient(360deg, #304352, #d7d2cc);
  width: 76.2vw;
  height: 91vh;
  position: relative;
  flex-direction: column;
  padding: 2em;
  left: 20%;
}

.profile {
  display: inline-flex;
  width: 73vw;
  height: 30vh;
  margin: 1em;
  justify-content: center;
}

.profile-bio {
  font-size: 0.85em;
  padding: 1vw;
  position: relative;
  bottom: 2vh;
}

.profile-info {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 6px 6px 10px gray;
  max-height: 100%;
  width: 43.7vw;
  white-space: normal;
  overflow: hidden;
  overflow-y: auto;
}
.profile-body {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.upcoming {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 6px 6px 10px gray;
  height: 80%;
  width: 37vw;
  margin-bottom: 1em;
  text-align: center;
  overflow-y: auto;
}

.rating {
  box-shadow: 6px 6px 10px gray;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  width: 20vw;
  height: 100%;
  text-align: center;
  margin-left: 1em;
}
.completed {
  box-shadow: 6px 6px 10px gray;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  width: 37vw;
  height: 20%;
  text-align: center;
}
.center-body {
  display: flex;
  width: 40vw;
  height: 100%;
  flex-direction: column;
}

.FAQ {
  width: 20vw;
  border-radius: 5px;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-right: 1em;
  box-shadow: 6px 6px 10px gray;
}
