.local-body-container {
  position: relative;
  height: 100vh;
  width: 80vw;
  left: 20%;
  z-index: 1;
}

.local-next-tour {
  text-align: center;
  font-size: 2em;
  padding: 3vh;
  border: 3px;
  border-bottom-style: solid;
  border-color: black;
}

.local-next-tour-accordion {
  background: #d94f70;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px;
  border-bottom-style: solid;
  border-color: black;
}

.local-upcoming-tours {
  text-align: center;
  font-size: 2em;
  padding: 3vh;
  border: 3px;
  border-bottom-style: solid;
  border-color: black;
}

.local-upcoming-tours-accordions {
  background: #d94f70;
  /* height: 42vh; */
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-message-local-tours {
  display: inline-flex;
  background: rgba(252, 199, 199);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 6px 6px 25px black;
}
