.local-dates-container {
  display: grid;
  grid-template-columns: auto auto;
  /* z-index: 15; */
  width: 20%;
  position: absolute;
  top: 12%;
  left: 60.6%;
  transform: translate(-50%, -50%);
}
