.navbar {
  display: inline-flex;
  flex-direction: column;
  background: #d94f70;
  align-items: center;
  width: 20%;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  height: 100vh;
}
