.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  object-fit: cover;
}

.image {
  align-self: center;
  background: url("https://via.placeholder.com/80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 5em;
  width: 5em;
  object-fit: cover;
  border-radius: 50%;
}
.names {
  align-self: center;
  padding: 0;
  margin: 0;
  object-fit: cover;
}
