.match-1 {
  height: 25vh;
  border: 3px;
  border-bottom-style: solid;
  border-color: black;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.photo-big-container {
  width: 20vw;
  height: 25vh;
  /* background: greenyellow; */
}

.photo {
  /* background: url("https://via.placeholder.com/80"); */
  background: url("../Images/match-photo1.jpg");
  width: 15vw;
  height: 20vh;
  margin-left: 2.5vw;
  position: relative;
  top: 2vh;
  background-position: center;
  background-size: cover;
}

.matches-info-container {
  width: 60vw;
  height: 25vh;
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196f3; */
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-weight: normal;
  font-size: 1.2em;
  text-align: center;
} */

.grid-item {
  padding: 20px;
  font-weight: normal;
  font-size: 1.2em;
  text-align: center;
}
