.local-home-wrapper-login {
  display: inline-flex;
  flex-direction: column;
  background: url("./navbarimg.jpg");
  background-size: cover;
  align-items: center;
  width: 20%;
  height: 100vh;
  z-index: 2;
  position: absolute;
}

.local-home-navbar {
  background: linear-gradient(
    60deg,
    rgba(10, 35, 57, 0.5),
    rgba(45, 117, 140, 0.8)
  );
  z-index: 15;
  height: 110vh;
  width: 100%;
  color: white;
}
body {
  margin: 0;
  padding: 0;
}

/* rgba(10, 35, 57, 0.5),
rgba(5, 39, 189, 0.8) */

.local-home-title {
  display: flex;
  justify-content: center;
}

.logout-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: -3vh;
}

.logout-btn:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}
