.traveler-settings {
  background: linear-gradient(360deg, #304352, #d7d2cc);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  margin-left: 20vw;
}

.traveler-settings-body {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 6px 6px 25px dimgray;
  padding: 2em;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.traveler-settings-form {
  padding: 0.6em;
}

.traveler-settings-submit-btn {
  margin-left: 0.7vw;
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
}

.traveler-settings-submit-btn:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}

.traveler-settings-label {
  position: relative;
  bottom: 0.5vh;
}
