.available-dates {
  width: 60%;
  height: 25%;
  background: #d94f70;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.available-date-remover {
  cursor: pointer;
}
