.available-dates {
  width: 60%;
  height: 25%;
  background: #d94f70;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.available-date-button {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
}

.available-date-button:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}
