.logincontainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(250, 250, 250, 0.7);
  padding: 2em;
  box-shadow: 6px 6px 10px gray;
  z-index: 15;
}

.login-text {
  margin-top: -1vh;
}

.body {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 15;
}

.background {
  z-index: 1;
  background-size: cover;
}

h1 {
  text-shadow: 2px 2px gold;
}
.title {
  z-index: 2;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: -3vh;
}

.login-btn:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}
.registration {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 6px 6px 10px dimgrey;
  background: white;
  overflow: hidden;
  z-index: 21;
}
.registration-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 15;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
}

.registration-text {
  font-size: 0.75em;
  margin-top: -1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

.registration-tag {
  cursor: pointer;
  margin-top: -0.05vh;
}

.registration-tag:hover {
  color: #0000ee;
}

.username {
  margin-top: -3vh;
}

.password {
  margin-top: -2vh;
}

.registration-btn {
  background: linear-gradient(60deg, #122169, #2d758c);
  border: 0px;
  border-radius: 24px;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0px 0px 5px #122169;
  font-family: "champagne__limousinesregular", sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: 2vh;
}

.registration-btn:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
}
