@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.traveler-home-wrap {
  width: 210px;
  z-index: 15;
  margin-bottom: 0.5em;
}

.traveler-home-search {
  width: 100%;
  position: relative;
  display: flex;
}

.traveler-home-searchTerm {
  width: 100%;
  border: 3px solid #d94f70;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  font-weight: bold;
}

.traveler-home-searchTerm:focus {
  color: rgb(53, 50, 50);
}

.traveler-home-searchButton {
  width: 40px;
  height: 36px;
  border: 2px solid #d94f70;
  background: #d94f70;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .traveler-home-wrap {
    width: 320px;
    margin-bottom: 1em;
  }
  .traveler-home-searchTerm {
    border: 5px solid #d94f70;
    height: 25px;
    font-size: 1em;
  }
  .traveler-home-searchButton {
    width: 45px;
    height: 45px;
  }
}

@media only screen and (min-width: 1024px) {
  .traveler-home-wrap {
    width: 360px;
  }
  .traveler-home-searchTerm {
    border: 5px solid #d94f70;
    height: 30px;
  }
  .traveler-home-searchButton {
    width: 52px;
    height: 50px;
  }
}
