.traveler-home-dates-container {
  display: grid;
  grid-template-columns: auto auto;
  z-index: 15;
  width: 21%;
  /* background: peachpuff; */
  position: absolute;
  top: 57%;
  left: 50.5%;
  transform: translate(-50%, -50%);
}
