.traveler-home-start-date-container {
  width: 100%;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  z-index: 15;
}

.traveler-home-start-date-search {
  width: 100%;
}

.traveler-home-start-date-searchTerm {
  /* width: 100%; */
  border: 3px solid #d94f70;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: rgb(53, 50, 50);
  font-weight: bold;
}
