.traveler-home-end-date-container {
  width: 100%;
  /* position: absolute;
    top: 50%;
    left: 50%; */
  z-index: 15;
}

.traveler-home-end-date-search {
  width: 70%;
}

.traveler-home-end-date-searchTerm {
  width: 100%;
  border: 3px solid #d94f70;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: rgb(53, 50, 50);
  font-weight: bold;
}
